<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.InvitationMapper">
    
    <resultMap type="Invitation" id="InvitationResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="invCode"    column="inv_code"    />
    </resultMap>

    <sql id="selectInvitationVo">
        select id, user_id, inv_code from invitation
    </sql>

    <select id="selectInvitationList" parameterType="Invitation" resultMap="InvitationResult">
        <include refid="selectInvitationVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="invCode != null  and invCode != ''"> and inv_code = #{invCode}</if>
        </where>
    </select>

    <select id="selectInvitation" parameterType="Invitation" resultMap="InvitationResult">
        <include refid="selectInvitationVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="invCode != null  and invCode != ''"> and inv_code = #{invCode}</if>
        </where>
    </select>
    
    <select id="selectInvitationById" parameterType="Long" resultMap="InvitationResult">
        <include refid="selectInvitationVo"/>
        where id = #{id}
    </select>

    <insert id="insertInvitation" parameterType="Invitation">
        insert into invitation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="invCode != null">inv_code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="invCode != null">#{invCode},</if>
         </trim>
    </insert>

    <update id="updateInvitation" parameterType="Invitation">
        update invitation
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="invCode != null">inv_code = #{invCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInvitationById" parameterType="Long">
        delete from invitation where id = #{id}
    </delete>

    <delete id="deleteInvitationByIds" parameterType="String">
        delete from invitation where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>