<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysProgressManageMapper">
    
    <resultMap type="SysProgressManage" id="SysProgressManageResult">
        <result property="id"    column="id"    />
        <result property="progressContent"      column="progress_content"     />
        <result property="enabled"      column="enabled"     />
        <result property="createTime"    column="create_time"   />
    </resultMap>

    <sql id="selectSysProgressManageVo">
        select id, progress_content, enabled, create_time from sys_progress_manage
    </sql>

    <select id="selectSysProgressManageList" parameterType="SysProgressManage" resultMap="SysProgressManageResult">
        <include refid="selectSysProgressManageVo"/>
        <where>
            <if test="progressContent != null and progressContent != ''">
                AND progress_content = #{progressContent}
            </if>
            <if test="enabled != null and enabled != ''">
                AND enabled = #{enabled}
            </if>
        </where>
    </select>
    
    <select id="selectSysProgressManageById" parameterType="Long" resultMap="SysProgressManageResult">
        <include refid="selectSysProgressManageVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysProgressManage" parameterType="SysProgressManage" useGeneratedKeys="true" keyProperty="id">
        insert into sys_progress_manage(
            <if test="progressContent != null">progress_content,</if>
            <if test="enabled != null and enabled != ''">enabled,</if>
            create_time
        )values(
            <if test="progressContent != null">#{progressContent},</if>
            <if test="enabled != null and enabled != ''">#{enabled},</if>
            sysdate()
        )
    </insert>

    <update id="updateSysProgressManage" parameterType="SysProgressManage">
        update sys_progress_manage
        <set>
            <if test="progressContent != null and progressContent != ''">progress_content = #{progressContent},</if>
            <if test="enabled != null and enabled != ''">enabled = #{enabled},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteSysProgressManageById" parameterType="Long">
        delete from sys_progress_manage where id = #{id}
    </delete>

    <delete id="deleteSysProgressManageByIds" parameterType="String">
        delete from sys_progress_manage where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>